html, body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.top-header{
    background-color: black;
}

.brand{
    font-size: 18px;
    font-weight: 600px;
}


.menu-item{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.main-content{
    max-width: 700px;
    margin: auto;
}

.box{
    background-color: white;
    padding:20px;
    margin:30px;
}

.Image{
    width: 100%; 
}

.button{
    color: black;
    background-color: lightblue;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.Button-footer{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.Font{                  /* Button Music */
    font-size: 30px;
    color: red;
}

.NameIdol{
    color: black;
    font-size: 24px;
}

.HeaderIdol{
    font-size: 60px;

}